<div class="media-player">
    <div class="media-player--wrapper ">
        <!--Zona del artista-->
        <div class="artist player-center">
            <ng-container *ngTemplateOutlet="artistZone"></ng-container>
        </div>
        <!--Zona del reproductor-->
        <div class="player-controls player-center">
            
        </div>
        <!--Zona del controles adicionales-->
        <div class="player-audio player-center">
    
        </div>
    </div>
</div>

<!-- ZONE TEMPLATES -->

<ng-template #artistZone>
    <div class="artist-inside" *ngIf="true">

        <img [src]="'https://i.scdn.co/image/ab67616d0000b27345ca41b0d2352242c7c9d4bc'" alt="" class="cover">
        <div class="track-info">
            <h3 class="track-title">Nombre</h3>
            <h5 class="track-title sub-title">Nombre</h5>
        </div>
        <div class="track-like">
            <button class="btn-like">
                <i class="uil uil-heart"></i>
            </button>
        </div>
    </div>
</ng-template>